*{
    padding: 0;
    margin: 0;
}
body{
    color: #aeaeae;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.container{
    width: 690px;
    margin: 30px auto;
    min-height: 100px;
}
li{
    list-style: none;
}
.title{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-size: 27px;
    margin-bottom: 20px;
}
.description{
    margin-bottom: 23px;
    text-align: justify;
}
.item1{
    float: left;
    width: 33.33%;
}
.item1 li{
    font-size: 15px;
    margin-bottom: 10px;
}
.item li i{
    color: green;
    margin-right: 10px;
}