* {
    margin: 0;
    padding: 0;
}

body {
    color: #6e6e6e;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
}

.container {
    margin: 30px auto;
    width: 770px;
}

.container h2 {
    color: #383838;
    font-size: 18px;
    margin-bottom: 20px;
}

.input text {
    display: flex;
    justify-content: space-between;
}

.half-size {
    width: 46%;
    margin-bottom: 10px;
}

input [type="text"], input[type="email"]{
    height: 40px;
}

.fullsize {
    width: 100%;
}

.spacing {
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #ddd inset;
    box-sizing: border-box;
    color: #6e6e6e;
    padding-left: 20px;
}

textarea {
    padding-top: 10px;
    height: 255px;
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #7dcefd;
    border: 1px solid #59a8d5;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    min-width: 125px;
    padding: 11px 10px;
}

button:hover {
    background-color: #59a8d5;
}