* {
    padding: 0;
    margin: 0;
}

body {
    color: #666;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    margin: 30px auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 520px;
    background-color: #2E2E2E;
    color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left.side p{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.right-side {
    width: 560px;
}

.title {
    color: #333;
    font-size: 36px;
    margin-bottom: 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.title::after {
    content: "";
    background-color: #516cfe;
    height: 3px;
    width: 60px;
    display: block;
    position: absolute;
    bottom: -6px;
}

.text {
    text-align: justify;
    margin-bottom: 22px;
}

.title-question {
    color: #333;
    font-size: 22px;
}

.choose-lists {
    display: flex;
    justify-content: space-between;
}

.choose-lists {
    box-sizing: border-box;
    padding: 14px 0 0 20px;
}

.choose-lists-content li {
    list-style: none;
}

.choose-lists-content i {
    color: green;
    padding-right: 10px;
}