* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    background-color: #f7f6f6;
}

.head-section {
    background-color: #01bacf;
    padding: 64px 0 91px;
}

.head-section h2 {
    width: 1150px;
    margin: 0 auto;
    color: white;
    font-size: 33px;
    line-height: 1.1;
}

.service-list {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    position: relative;
    top: -40px;
}

.service-list-item {
    width: 30%;
    background-color: #fff;
    min-height: 350px;
    box-sizing: border-box;
    padding: 65px 30px 30px;
}

.icon {
    margin-bottom: 16px;
}

.icon i {
    color: #c2d82e;
    font-size: 40px;
}

.service-list-item-title {
    color: #000;
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.text {
    text-align: justify;
}