*{
    padding: 0;  
    margin: 0;
    color: #231f20;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
.container {    
    width: 870px;
    margin: 20px auto;
    background-color: #f2f2f2;
    text-align: center;
    padding: 30px 0 100px;
}
.icon {    
    width: 56px;
    height: 56px;
    border: 3px solid #5ac6d0;
    border-radius: 50%;
    margin: 0 auto 36px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    color: #5ac6d0;
    font-size: 28px;
}
.title{
    font-size: 40px;
    margin-bottom: 30px;
}
.form input[type="email"] {
    width: 360px;
    padding: 20px 10px;
    border: 1px solid #eee;
    font-size: 17px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.form input[type="submit"] {    
    height: 60px;
    padding: 0 30px;
    font-size: 17px;
    border-radius: 4px;
    color: white;
    background-color: #5ac6d0;
    text-transform: uppercase;
    cursor: pointer;
}
    .form input[type="submit"]:hover {
    background-color: #de4a;
}